<launch>
    <machine name="dory" address="dory.local" user="noblean" env-loader="/home/noblean/.ros-bash-and-run.sh" />
    <group ns="dory">
        <node name="slam" pkg="dory_slam" type="dory_slam_node" output="screen">
            <param name="gps_frame" type="string" value="gps_link" />
            <param name="gps_port_name" type="string" value="/dory/map/odom" />
            <param name="output_port_name" type="string" value="pose" />
            <param name="output_delta_time" type="double" value="0.5" />
            <param name="gps_noise_sigma" type="double" value="2.0" />
            <param name="frame_id" type="string" value="map" />
            <param name="child_frame_id" type="string" value="base_link" />
            <param name="publish_transform" type="bool" value="true" />
        </node>

        <node name="utm_map_transforms" pkg="dory_slam" type="utm_map_transforms.py">
        </node>
    </group>
</launch>

