<launch>
    <machine name="dory" address="dory.local" user="noblean" env-loader="/home/noblean/.ros-bash-and-run.sh" />
    <group ns="dory">
        <node name="dory_slam" pkg="dory_slam" type="dory_slam_node" output="screen">
            <param name="gps_frame" type="string" value="gps_link" />
            <param name="gps_port_name" type="string" value="/dory/odometry/gps" />
            <param name="output_port_name" type="string" value="pose" />
            <param name="output_delta_time" type="double" value="0.5" />
            <param name="gps_noise_sigma" type="double" value="2.0" />
        </node>
    </group>
</launch>

