<launch>
    <machine name="dory" address="dory.local" user="noblean" env-loader="/home/noblean/.ros-bash-and-run.sh" />
    <group ns="dory">
        <node name="dory_slam" pkg="dory_slam" type="dory_slam_node" launch-prefix="gdb -ex run --args" output="screen">
            <param name="gps_frame" type="string" value="april_tag_link" />
            <param name="gps_port_name" type="string" value="/dory/odom" />
            <param name="output_port_name" type="string" value="pose" />
        </node>
    </group>
</launch>

